
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --very-dark-blue:  hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);


    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);


    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.main {
    background-color: var(--light-grayish-blue);
    height: 900px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    
   
}

.nav-list .nav-item {
    list-style: none;
    display: inline-block;
    padding: 5px 20px;
}

.nav-list .nav-item a {
    text-decoration: none;
    color: var(--very-dark-blue);
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}

.informations {
    width: 600px;
    margin-right: 20px;
   
    
}
.informations h1 {
    font-size: 2.5rem;
    color: var(--very-dark-blue);
    padding: 10px ;
}

.informations p {
    font-size: 1.1rem;
    color: var(--very-dark-blue);
    padding: 20px 10px;
    font-family: 'Open Sans', sans-serif;
    
}
.img {
    width: 550px;
}

.img img{
    width: 100%;
}
#email {
    width: 350px;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 3px;
    outline: none;
    margin-left: 5px;
    border: 1px solid var(--light-gray);
   
}

.informations button {
    background-color: var(--bright-blue);
    color: var(--light-grayish-blue);
    font-size: 0.9rem;
    padding: 11px 60px;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 3px;
}

.main-two {
   height: 600px;
   width: 100%;
}

.two {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.two .informations h1 {
    font-size: 2.3rem;
    color: var(--very-dark-blue);
}

.two .informations p {
    font-size: 1.1rem;
    color: var(--very-dark-blue);
    padding: 20px 20px;
    font-family: 'Open Sans', sans-serif;
}

.two .informations {
    width: 600px;
    margin-right: 20px;
}

.link a {
    text-decoration: none;
    color: green;
    border-bottom: 1px solid green;
    margin-left: 20px;
}

.commentary {
    width: 50%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px 0px;
    margin: 20px 20px;
    border-radius: 3px;
    position: relative;
}

.quote {
   position: absolute;
   left: 20px;
}


.two .informations .commentary p {
    font-size: 0.9rem;
}

.author {
    display: flex;
    margin-left: 8px;
   
   
 
}
.author span {
    display: block;
   
}
.author img {
    margin-left: 10px;
    width: 50px;
    border-radius: 50%;
    
}

.subtitles {
   margin-top: 6px;
    padding: 2px 10px;
}

.three {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    background-color: var(--desaturated-blue);
    color: var(--light-grayish-blue);
}

.subscribe{
    margin-right: 20px;
    width: 50%;
}
.subscribe h2 {
    padding: 15px 5px;

}
.get-started {
    width: 40%;
}
.get-started input {
    width: 100%;
    padding: 10px 10px;
    margin: 20px 0px;
    margin-right: 10px;
    border-radius: 3px;
    outline: none;
    border: 1px solid var(--light-gray);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.get-started button {
    background-color: var(--bright-blue);
    color: var(--light-grayish-blue);
    font-size: 0.9rem;
    padding: 11px 60px;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer {
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 300px;
    background-color: var(--very-dark-blue);
    color: var(--light-grayish-blue);
}
.footer div {
    width: 25%;
    padding: 0px 30px;
}

.footer li {
    list-style: none;
    margin: 8px 0px;
}
.footer i {
    font-size: 0.8rem;
    border: 1px solid white;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 40%;
}

.footer-informations{
    margin-left: 20px;
}

.footer-informations p{
    margin: 20px 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* media queries */

@media screen and (max-width: 998px) {
    .informations{
        
        width: 500px;
    }

    .img img {
        width: 100%;
    }

    #email {
        width: 250px;
    }

    .informations button {
       
        font-size: 0.7rem;
        padding: 11px 30px;
        
    }

    .commentary {
        
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    .informations {
        
    }

     .informations h1 {
        
        font-size: 1.5rem;
    }

    .informations p {
        
        font-size: 0.8rem;
    }

    .two .informations h1{
        
        font-size: 1.5rem;
    }

    .two .informations p{
        
        font-size: 0.8rem;
    }

   
}


@media screen and (max-width: 375px){
    .one {
        flex-direction: column-reverse;
    }
    .informations {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 100%;
    }
    .main-two {
        height: 900px;
    }
    .two {
        flex-direction: column-reverse;
        height: 100%;
    }
    
    .two .informations {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .commentary {
        width: 60%;
        height: 60%;
        color: antiquewhite;
    }

    .author img {
        
    }
}

